<h2>Quantum Approximate Optimization Algorithm</h2>
<p>This project was done through Harvard's Undergraduate Quantum Computing Association x qBraid Research Mentorship Program (qRaMP).</p>
<p>Focused on solving the Maximum Cut Problem -- MaxCut problem is an NP-complete (nondeterministic polynomial-time complete). It is a standard optimization problem that reaps the benefits of quantum computing superposition.</p>
<p>Our solution uses adaptive measurement. This can be seen as making partial measurements on some of the wires and choosing the next gates adaptively.</p>
<p>The existing QAOA fails to effectively utilize classical computation, as the classical optimization loop is insensitive to the type of problem the algorithm is solving. We hypothesize that a deliberate classical intervention in QAOA can improve the performance and the convergence speed of the algorithm.</p>
<div class="image-container">
    <img
    src="../../img/qaoa.png"
    alt="Quantum Optimization Algorithm"
    loading="lazy"
    class="project-pic"
/>
</div>
<p><strong>Takeaways:</strong></p>
<ul>
    <li>Learned basic Quantum Computing</li>
    <li>Intro to Qiskit and optimization problems</li>
    <li>Limited implementation</li>
</ul>
